div.maintext{
  padding: 15px;
}

h2.aboutheadline{
 text-align: center;
 font-family: Lato Thin;
 font-size: 85px;
}

h3.subtitleabout{
 text-align: center;
 font-family: Roboto Thin;
}

p.aboutmaintext{
 text-align: center;
 font-family: Roboto;
 font-size: 20px
}

.exampleimage{
    border-style: solid;
    border-color: #1D1F21;
    border-width: 3px;
    -moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
    display: block;
    margin: 0 auto;
}

p.imagetext{
 text-align: center;
 font-family: Roboto;
 font-size: 17px
    
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
