h5.text1{
 text-align: center;
 margin-top: 35px;
 margin-bottom: 5px;
}

h6.text2{
 text-align: center;
 margin-top: 20px;
 margin-bottom: 35px;
}
.input-field input[type=text]:focus + label {
 color: #9883E9;
}
.input-field input[type=text]:focus {
 border-bottom: 1px solid #9883E9;
 box-shadow: 0 1px 0 0 #9883E9;
}
textarea.materialize-textarea:focus {
 border-bottom: 1px solid #9883E9;
 box-shadow: 0 1px 0 0 #9883E9;
}
